:root {
    /* --black: black; 1 trong những tông màu chính (cơ mà dùng color: black cho nhanh) */
    /* --white: white 1 trong những tông màu chính (cơ mà dùng color: white cho nhanh) */
    --dark-orange: #e47b1f;
    --golden-yellow: #ffcd09;
    --white-gray: #b5b3b3;
    --gray-white: #f7f7f7;
    --dark-gray: #424242;
    --light-gray: #f7f6f6;
    --less-black: #101010;
    --light-blue: #789ecd;
    --dark-blue: #1c4eaa;
    --light: #f8f9fa;
    --dark: #212529;
}